.App {
    text-align: center;
    background-color: blueviolet;
}

.Header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
}

.Menu-button {
    margin-right: 20%;
    width: 20%;
    height: 80px;
}

.Info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 20%;
    height: 80px;

    background-color: #fff;
}

.Refresh-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 80px;

    background-color: darkblue;
}
